/* DishPopup.module.css */
.popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.712);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  
  .popupContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    
  }
  
  .closeButton {
    background: black;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .category {
    font-size: 16px;
    color: #888;
    margin-bottom: 15px;
  }
  
  .dishImage {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  